.tickets {
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 50px;
    max-width: 100%;
    width: 90%;
}

.tickets .head {
    margin-bottom: 30px;
}

.tickets .head span {
    font-size: 25px;
    font-weight: 600;
}

.tickets .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.tickets .form span {
    font-size: 20px;
    margin-bottom: 10px;
}

.tickets .form .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    min-width: 60%;
}

.tickets .form .input-group .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tickets .form .input-group .buttons button {
    background: var(--footer-bg);
    height: 35px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.tickets .form .input-group i {
    font-size: 15px;
}

.tickets .form .input-group .buttons button:hover {
    background: rgb(73, 73, 73);
    transition: all 0.5s ease-in-out;
}

.tickets .form .input-group .input-wrapper {
    position: relative;
    width: 100%;
    max-width: 90%;
}

.tickets .form .input-group .input-wrapper i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    font-size: 16px;
}

.tickets .form .input-group .input-wrapper input {
    width: 100%;
    padding: 8px 10px;
    padding-left: 35px;
    font-size: 16px;
    border: 1.2px solid gray;
    border-radius: 5px;
    outline: none;
    background: transparent;
    box-sizing: border-box;
}

.tickets .form .hint {
    margin-top: 10px;
}

.tickets .form .hint span {
    font-size: 15px;
    text-align: left;
}

.tickets .table-container {
    overflow-x: auto;
    height: auto;
}

.tickets .table-container .tickets-table {
    margin: 0 auto;
    min-width: 800px;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
}

.tickets .table-container .tickets-table th,
.tickets .table-container .tickets-table td {
    width: 10%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

.tickets .table-container .tickets-table th {
    background-color: #2d3748;
    color: white;
}

.tickets .table-container .tickets-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tickets .table-container .tickets-table tr:hover {
    background-color: #edf2f7;
}

.tickets .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    gap: 1rem;
}

.tickets .pagination .hidden {
    display: none;
}

.tickets .pagination button {
    background: var(--green-strong);
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.tickets .error {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tickets .error i {
    font-size: 30px;
    margin-bottom: 10px;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .tickets {
        margin-top: 15%;
    }

    .tickets .error {
        margin-top: 20%;
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .tickets {
        min-height: auto;
        margin-top: 20%;
    }

    .tickets .error {
        margin-top: 30%;
        max-width: 100%;
        width: 100%;
    }

    .tickets .form .input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 100%;
        width: 90%;
    }

    .tickets .form .input-group .input-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .tickets .form .input-group .buttons {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
    }

    .tickets .form .hint {
        margin-top: 20px;
        max-width: 100%;
        width: 90%;
        line-height: 1.3rem;
    }

    .tickets .form .hint span {
        font-size: 13px;
    }

    .tickets .form .hint span i {
        margin-right: 7px;
    }
}