.btn-custom {
    margin-top: 10px;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    display: inline-block;
    background: var(--green-strong);
    cursor: pointer;
    transition: all 450ms ease-in-out;
    user-select: none;
    color: white;
    font-size: 17px;
    margin-bottom: 50px;
}

.btn-custom:hover {
    box-shadow: 0px 0px 90px 30px var(--green-strong);
    transform: translateY(-2px);
}