.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.logo img {
    width: 50%;
    height: auto;
    display: block;
    transform-origin: center;
    animation: bounce 1.2s ease-in-out infinite;
    -webkit-animation: bounce 1.2s ease-in-out infinite;
    will-change: transform;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}