.alumni {
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 50px;
    max-width: 100%;
    width: 90%;
}

.alumni .head {
    margin-bottom: 30px;
}

.alumni .head span {
    font-size: 25px;
    font-weight: 600;
}

.alumni .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.alumni .form span {
    font-size: 20px;
    margin-bottom: 10px;
}

.alumni .form .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    min-width: 60%;
}

.alumni .form .input-group .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.alumni .form .input-group .buttons button {
    background: var(--footer-bg);
    height: 35px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.alumni .form .input-group i {
    font-size: 15px;
}

.alumni .form .input-group .buttons button:hover {
    background: rgb(73, 73, 73);
    transition: all 0.5s ease-in-out;
}

.alumni .form .input-group .input-wrapper {
    position: relative;
    width: 100%;
    max-width: 90%;
}

.alumni .form .input-group .input-wrapper i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    font-size: 16px;
}

.alumni .form .input-group .input-wrapper input {
    width: 100%;
    padding: 8px 10px;
    padding-left: 35px;
    font-size: 16px;
    border: 1.2px solid gray;
    border-radius: 5px;
    outline: none;
    background: transparent;
    box-sizing: border-box;
}

.alumni .form .hint {
    margin-top: 10px;
}

.alumni .form .hint span {
    font-size: 15px;
    text-align: left;
}

.alumni .table-container {
    overflow-x: auto;
    height: auto;
}

.alumni .table-container .alumni-table {
    margin: 0 auto;
    min-width: 800px;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
}

.alumni .table-container .alumni-table th,
.alumni .table-container .alumni-table td {
    width: 10%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    word-break: break-all;
}

.alumni .table-container .alumni-table .act {
    width: 12%;
}

.alumni .table-container .alumni-table td .img-404 {
    display: flex;
    flex-direction: row;
    color: red;
    align-items: center;
}

.alumni .table-container .alumni-table td .img-404 i {
    margin-right: 7px;
    font-size: 17px;
}

.alumni .table-container .alumni-table th {
    background-color: #2d3748;
    color: white;
}

.alumni .table-container .alumni-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.alumni .table-container .alumni-table tr:hover {
    background-color: #edf2f7;
}

.alumni .table-container .alumni-table .bukti-img {
    max-width: 200px;
    border-radius: 4px;
    cursor: pointer;
}

.alumni .table-container .alumni-table .action {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.alumni .table-container .alumni-table .action button i {
    font-size: 15px;
    margin-right: 7px;
}

.alumni .table-container .alumni-table .action button {
    display: flex;
    padding: 7px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.alumni .table-container .alumni-table .action button:hover {
    transform: scale(1.1);
}

.alumni .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    gap: 1rem;
}

.alumni .pagination .hidden {
    display: none;
}

.alumni .pagination button {
    background: var(--green-strong);
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.alumni .error {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alumni .error i {
    font-size: 30px;
    margin-bottom: 10px;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .alumni {
        margin-top: 15%;
    }

    .alumni .error {
        margin-top: 20%;
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .alumni {
        min-height: auto;
        margin-top: 20%;
    }

    .alumni .table-container .alumni-table {
        min-width: 1000px;
    }

    .alumni .table-container .alumni-table .long {
        width: 12%;
    }

    .alumni .table-container .alumni-table .act {
        width: 15%;
    }

    .alumni .error {
        margin-top: 30%;
        max-width: 100%;
        width: 100%;
    }

    .alumni .form .input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 100%;
        width: 90%;
    }

    .alumni .form .input-group .input-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .alumni .form .input-group .buttons {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
    }

    .alumni .form .hint {
        margin-top: 20px;
        max-width: 100%;
        width: 90%;
        line-height: 1.3rem;
    }

    .alumni .form .hint span {
        font-size: 13px;
    }

    .alumni .form .hint span i {
        margin-right: 7px;
    }
}