.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.admin .content .bg-w {
    background-color: #ececec;
}

.admin .content .bg { 
    position: relative;
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #00c6ff, #0072ff, #ff00cc, #333399);
    background-size: 400% 400%;
    animation: glow 6s ease infinite;
    z-index: 1;
    overflow: hidden;
}

@keyframes glow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.admin .content .bg .card {
    border-radius: 10px;
    margin-bottom: -10px;
}

.admin .content .bg .card .container .item i {
    margin-right: 9px;
}

.admin .content .bg .card .container .item:hover {
    background-color: #ececec5b;
    color: black;
    transition: all 0.5s ease-in-out;
}

.admin .content {
    max-width: 400px;
}

.admin .content .head {
    font-size: 27px;
}

.admin .content .description {
    font-size: 14px;
}

.admin .content .options {
    margin-top: 20px;
}

.admin .content .options .title {
    font-size: 18px;
    display: block;
    margin-bottom: 3px;
}

.admin .content .card {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.admin .content .card .container {
    display: flex;
    flex-direction: column;
}

.admin .content .card .container .item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.admin .content .card .container .item i {
    margin-right: 8px;
    font-size: 20px;
    display: inline-block;
}

.admin .content .card .container .item:hover {
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.admin .content .submenu .back {
    padding: 10px 12px;
    background-color: #ececec;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
}

.admin .content .submenu .title,
.admin .content .submenu .subtitle {
    display: flex;
    align-items: center;
}

.admin .content .submenu .desc {
    margin-bottom: 15px;
}

.admin .content .submenu .title span {
    font-size: 23px;
}

.admin .content .submenu .title i {
    margin-right: 7px;
    font-size: 30px;
}

.admin .content .submenu .subtitle span {
    font-size: 18px;
}

.admin .content .submenu .subtitle i {
    margin-right: 7px;
    font-size: 20px;
}

.admin .content .submenu p {
    font-size: 14px;
}

.admin .content .submenu hr {
    margin: 25px auto;
    width: 50%;
}

.admin .content .submenu .card .container .item span {
    align-self: flex-start;
    margin: 0;
    margin-left: auto;
}

.admin .content .submenu .card .container .item span i {
    vertical-align: middle;
    line-height: 1;
}

.admin .content .submenu .hint {
    margin-top: -20px;
    font-size: 12px;
    margin-bottom: 15px;
}

.admin .content .submenu .menu-section {
    margin-bottom: 50px;
}

.admin .content .submenu {
    max-width: 400px;
    margin: 0 auto;
}

.admin .content .submenu .load-wrapper {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.admin .content .submenu .load-wrapper iframe {
    width: min(90vw, 1000px);
    height: 130vh;
    border-radius: 8px;
    margin-bottom: 50px;
}

.admin .content .submenu .load-wrapper .load,
.admin .content .submenu .load-wrapper .error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 16px;
}

.admin .content .submenu .load-wrapper i {
    margin-right: 7px;
}

.admin .content .submenu .load-wrapper .load .spin {
    font-size: 24px;
    margin-right: 8px;
    animation: spin 1s linear infinite;
}

.admin .content .submenu .load-wrapper .error {
    color: red;
}

.admin .content .submenu .dash {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    max-width: 100%;
    width: 400px;
    margin-bottom: 20px;
}

.admin .content .submenu .dash .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin .content .submenu .dash .item .sub {
    display: flex;
    align-items: center;
    max-width: 60%;
    gap: 10px;
    flex: 1;
    font-size: 20px;
}

.admin .content .submenu .dash .item .sub i {
    font-size: 30px;
    flex-shrink: 0;
}

.admin .content .submenu .dash .item span:last-child {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .admin {
        margin-top: 25%;
        padding: 0 20px;
    }

    .admin .content .submenu .dash {
        max-width: 100%;
        margin: 20px;
    }

    .admin .content .submenu .dash .item .sub {
        max-width: 80%;
    }
}

@media (min-width: 601px) and (max-width: 1300px) {
    .admin {
        margin-top: 17%;
        padding: 0 20%;
    }
}